
@import "/styles/colors.scss";

nav.main-nav {
	font-size: $navbar-font-size;
	font-family: $navbar-font-family;
	
	ul.nav-list {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			width: 25%;
			height: 48px;
			line-height: 48px;
			display: inline-block;
			text-align: center;
			
			a {
				background: $navbar-background;
				text-decoration: none;
				color: $navbar-foreground;
				width: 100%;
				display: inline-block;
				height: 100%;
				
				&.active {
					background: $navbar-background-selected;
				}
				
				&:hover {
					background: $navbar-background-hover;
				}
			}
		}
	}
}
