
@import "/styles/colors.scss";

nav.main-nav {
	font-size: 1.1em;
	font-family: verdana;
	margin: 0 8%;
	
	ul.nav-list {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			$nav-height: 36px;
			
			width: 25%;
			height: $nav-height;
			line-height: $nav-height;
			display: inline-block;
			text-align: center;
			
			a {
				text-decoration: none;
				width: 100%;
				display: inline-block;
				height: 100%;
				
				@include theme() {
					background: theme-get(navbar-bg);
					background-position: 50px 30px;
					color: theme-get(navbar-fg);
				}
				
				&:hover {
					@include theme() {
						background: theme-get(navbar-bg-h);
						background-position: 50px 30px;
					}
				}
			}
		}
	}
}
