
$top-background: #6cf;
$nested-background: #fc6;
$hover: #fc6;
$nested-hover: #fda;

.navbar-item {
	width: 100%;
	text-align: center;
	display: inline-block;
	background-color: $top-background;
	
	a, a:visited {
		display: block;
		color: black;
		text-decoration: none;
		line-height: 2.5em;
		width: 100%;
	}
	
	&:hover {
		background-color: $hover;
		cursor: pointer;
	}
}

nav.top-nav > ul > .navbar-item {
	width: 25%;
	display: inline-block;
	
	&:hover > ul.nested-nav {
		display: block;
	}
}

ul.nested-nav {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	background: $nested-background;
	
	.navbar-item {
		width: 25%;
		background-color: initial;
		
		&:hover {
			background: radial-gradient(circle, $nested-hover, $nested-background 50%, $nested-background);
		}
	}
	
	.navbar-item:hover > ul.nested-nav {
		display: block;
		position: absolute;
		top: 100%;
	}
}
