
@import "/styles/colors.scss";

.clear-both { clear: both; }

.row {
	width: 100%;
	display: block;
	
	[class*="col-"] {
		display: inline-block;
		width: 100%;
		vertical-align: top;
		
		@media only screen and (min-width: 650px) {
			&.col-1 { width: 8.33%; }
			&.col-2 { width: 16.66%; }
			&.col-3 { width: 25%; }
			&.col-4 { width: 33.33%; }
			&.col-5 { width: 41.66%; }
			&.col-6 { width: 50%; }
			&.col-7 { width: 58.33%; }
			&.col-8 { width: 66.33%; }
			&.col-9 { width: 75%; }
			&.col-10 { width: 83.33%; }
			&.col-11 { width: 91.66%; }
			&.col-12 { width: 100%; }
		}
		
		&:not(:last-child) > * {
			width: calc(100% - 32px);
		}
	}
}

div.card {
	width: calc(100% - 24px);
	padding: 4px 8px;
	
	+ div.card {
		margin-top: 16px;
	}
	
	.card-title {
		text-align: center;
	}
	
	h1 {
		font-size: 1.3em;
		@include theme() {
			color: theme-get(h1);
		}
	}
	h2 {
		font-size: 1.2em;
		@include theme() {
			color: theme-get(h2);
		}
	}
	h3 {
		font-size: 1.15em;
		@include theme() {
			color: theme-get(h3);
		}
	}
	h4 {
		font-size: 1.05em;
		@include theme() {
			color: theme-get(h4);
		}
	}
	h5 {
		font-size: 0.95em;
		@include theme() {
			color: theme-get(h5);
		}
	}
	h6 {
		font-size: 0.9em;
		@include theme() {
			color: theme-get(h6);
		}
	}
}
