
$sidebar-background: #5bf;
$body-background: #dde;

body { background-color: $body-background; }

.page {
	display: grid;
	grid-template-areas: "side main";
	grid-template-columns: 15% 85%;
	min-height: 100vh;
	
	.main-content {
		grid-area: main;
		
		.content-container {
			padding: 2em;
		}
	}
	
	.side-content {
		background-color: $sidebar-background;
		position: fixed;
		top: 16px;
		left: 8px;
		width: calc(15% - 24px);
		height: calc(100vh - 48px);
		overflow-y: auto;
		padding: 8px 8px;
	}
}

@media only screen and (max-width: 1024px) {
	.page {
		grid-template-columns: 25% 75%;
		
		.side-content {
			width: calc(25% - 16px);
		}
	}
}